*{
	padding: 0px;
	margin: 0px;
}
#pc{
	height: 750px;
	background-image: url(C:/Users/sc/Downloads/shopp.jpeg);
	border-image-slice:30 ;
	background-repeat: no-repeat;
	background-size: cover;
}
.bgtxt{
	text-align: justify;
	padding: 50px;
	color: purple;
	text-shadow: 5px 5px 10px maroon;

}
.container01{
	height: 80px;
	margin-top: 35px;
	background-color: purple;
	color: goldenrod;
	text-align: center;
	text-shadow: 5px 5px 10px maroon;
}